/*@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Exo:wght@100;200;300;400;500;600;700&family=Major+Mono+Display&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/* -------------------------------------------------------------------Colors */

.bg-color-name-title {
    background-color: #180A3E;
    background-color: #221D2E;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #B84A30;
    /*background-color: #fd4d3f;*/
    /*background-color: #471DB8;*/
    /*background-color: #68639a;*/
}

.ui-menu-color-resume {
    background-color: #382072;
    /*background-color: #47cca0;*/
    background-color: #14B87F;

}

.ui-menu-color-contact {
    background-color: #B8A90B;
    /*background-color: #15AABF;*/
}

.ui-menu-color-download {
    background-color: #14B87F;
    background-color: #423C3A;
    /*background-color: #221D2E;*/
}

/* -------------------------------------------------------------------Special paddings/margins/text */
body {
    font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase-special {
    text-transform: lowercase;
}

.general-sub {
    font-family: "Major Mono Display", monospace;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: inherit;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Major Mono Display", monospace;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* -------------------------------------------------------------------Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/joem_color4_lg_white1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.name {
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;

}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* -------------------------------------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0,0,0,0.2);
    height:120px;
}

/* -------------------------------------------------------------------Footer */

footer {
    background-color: #221D2E;
    color: #fafafa;
    min-height: 120px;
    margin:0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #68639a;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}

#footer-details {
    padding: 20px;
}

/* -------------------------------------------------------------------Three reaasons */

.three-reasons-icon {
    font-size: 26px;
    color: #B84A30;
}

.three-reasons-heading {
    font-family: "Major Mono Display", monospace;
    font-weight: bolder;
    margin-bottom: 15px;
}

.mono-med {
    font-family: "Roboto Mono", monospace;
    font-weight: lighter;
}